/*Fontes*/
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

.dm-sans {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu{
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
}

/*Geral*/
*{
    background-color: rgb(22, 22, 22);
    color: white;
    letter-spacing: .02em;
}

h1, h2{
    font-weight: bolder;
}

h2{
    text-align: left;
    margin-bottom: 2%;
    font-size: 2.5rem;
}

section{
    margin-top: 5%;
}
 
a{
    color: white;
    text-decoration: underline;
}

a:hover{
    color: brown;
    text-decoration: none;
}

/*Header*/
header h1{
    text-align: center;
    font-size: 300%;
    padding: 5% 0 5% 0;
    display: block;
    background-color: rgb(34, 34, 34);
}

header .contato{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

header figure{
    display: inline-block;
    vertical-align: middle;
    margin: 2% 0 2% 10%;
    padding-right: 5%;
}

#img-perfil{
    border-radius: 50%;
}

header .contato ul{
    display: flex;
    flex-direction: column;
}

header .contato li{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    padding: .5% 0;
    font-size: 1.5rem;
    width: 110%
}

header .contato li a{
    margin-left: 2%;
}

header .contato .material-icons{
    margin-right: 5%;
    font-size: 2.5rem;
}

/*Main*/
main{
    margin: 0 5%;
}

main p, main li, main dt, main dd{
    font-size: 1.5rem;
    line-height: 125%;
}

main figure{
    width: 100%;
}

main img{
    width: 25rem;
    height: 25rem;
}

main figure figcaption{
    font-size: 1.3rem;
    margin: 1% 0 4% 0
}

/*Footer*/
footer{
    background-color: rgb(34, 34, 34);
    line-height: 150%;
    font-size: 140%;
    margin-top: 3%;
}

footer p{
    margin: 10% 10% 0 10%;
    background-color: rgb(34, 34, 34);
    padding: 2% 0 2% 0;
    text-align: center;
    font-style: oblique;
}